<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blogspot.droidcrib.mobilenetworkstracker">

    <permission
        android:name="com.blogspot.droidcrib.mobilenetworkstracker.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.blogspot.droidcrib.mobilenetworkstracker.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.pinPoint.gps"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:name="com.blogspot.droidcrib.mobilenetworkstracker.application.MobileNetworksTrackerApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".controller.LocationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.blogspot.droidcrib.mobilenetworkstracker.action.LOCATION_CHANGED" />
                <action android:name="com.blogspot.droidcrib.mobilenetworkstracker.action.STOP_NOTIFICATION" />
                <action android:name="com.blogspot.droidcrib.mobilenetworkstracker.action.START_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDwMTVMFz_fai8KlWU2f4bCp1s3UCvPxoA" />
        <!-- Home Computer Debug Key  android:value="AIzaSyDwMTVMFz_fai8KlWU2f4bCp1s3UCvPxoA" -->
        <!-- Work Computer Debug Key  android:value="AIzaSyA86V1rTIjdOjjb3GjwwjOxvdpCvqZNnzM" -->


        <service
            android:name=".internet.PostGetIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".internet.UploadDataService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>
